*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
i{
	color: #fff;
}

.top-nav{
	background-color: #ff4d29;
	padding: 8px 0px;
}
.top-nav-leftbx{
	display: flex;
/*	background-color: lightpink;*/
}
.top-nav-rightbx{
/*	background-color: lightgray;*/
	display: flex;
	justify-content: space-around;
}
.top-nav-mailbx{
	margin-right: 20px;
}
.top-nav-mailbx span{
	color: #fff;
}
.top-nav-phonebx span{
	color: #fff;
}
.navbar{
	box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

/*banner section starts*/

.banner{
	width: 100%;
	height: 90vh;
	text-align: center;
	position: relative;
	background: linear-gradient(rgba(9, 32, 50, 0.4),rgba(9, 32, 50, 0.4)),url(images/bg_banner2.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}
.center-div{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.center-div a{
	padding: 10px 30px;
	border-radius: 3px;
	background-color: #ff4d29;
	color: #fff;
	margin: 0 10px;
}
.center-div h6{
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.center-div h1{
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

/*banner section ends*/

/*marketing section starts*/

.marketing{
	padding: 100px 0;
}
.marketing-leftbx .row{
	margin-bottom: 1.5rem;
}
.marketing-content h2{
	font-size: 1.3rem;
	font-weight: bold;
}
.marketing-content p{
	color: #666;
}
.marketing-rightbx img{
	width: 100%;
}

/*marketing section ends*/
 
/*numbers section starts*/

.numbers{
	padding: 80px 0;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(255, 77, 41, 0.9),rgba(255, 77, 41, 0.9)),url(images/bg_banner1.jpg) center;
}
.numbers .count h1{
	font-weight: 700;
	font-size: 3rem;
}

/*numbers section starts*/

/*services section starts*/

.services,.project,.team,.blog{
	padding: 80px 0;
}
.services-top,.project-top,.team-top,.blog-top{
	text-align: center;
	margin-bottom: 40px;
}
.services-top h6,.project-top h6,.team-top h6,.blog-top h6{
	font-weight: 400;
	color: #ff4d29;
}
.services-top h1,.project-top h1,.team-top h1,.blog-top h1{
	font-weight: bold;
	margin-bottom: 1rem;
}
.services-top p,.project-top p,.team-top p,.blog-top p{
	max-width: 500px;
	margin: 0 auto;
	color: #666;
}
.services-bottom{
	text-align: center;
	padding: 2rem;
	box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.services-bottom img{
	width: unset;
	margin-bottom: 1.5rem;
}
.services-bottom h2{
	font-weight:bold;
	margin-bottom: 1rem;
}
.services-bottom p{
	color: #666;
}
/*services section ends*/

/*project section starts*/

.project{
	background-color: #add8e61a;
	position: relative;
}
.project .overlay{
	position: absolute;
	width: 100%;
	height: 240px;
	left: 0;
	bottom: 0;
	background:linear-gradient(to bottom, rgba(9, 32, 50, 0.0),rgba(9, 32, 50, 0.8));
}
.overlay-content{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 32px;
	color: #fff;
}

/*project section ends*/

/*team section starts*/

.team-bottom .imgBx{
	position: relative;
	margin-bottom: 1rem;
	overflow: hidden;
}
.team-bottom .imgBx .hoverBx{
	position: absolute;
	top: -10%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 77, 41, 0.89);
	transition: all .5s ease;
	opacity: 0;
}
.team-contenet{
	text-align: center;
}
.social-link{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.team-bottom:hover .hoverBx{
	opacity: 1;
	top: 0%;
}
.team-bottom:hover .social-link{
	opacity: 1;
	top: 50%;
}
/*team section ends*/

/*reviews section starts*/

.reviews{
	background:linear-gradient(-90deg,rgba(8, 32, 50, 0.8),rgba(8, 32, 50, 0.8)) ,url(images/bg_banner1.jpg) no-repeat center;
	background-size: cover;
	padding: 80px 0;
	color: #fff;
	text-align: center;
}
.review img{
	width: 80px !important;
	height: 80px;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 1rem;
}
.review h4{
	font-weight: bold;
}
.review h6{
	font-weight: lighter;
	color: #ff4d29;
	margin-bottom: 2rem;
}
.review p{
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
/*reviews section ends*/

/*blog section starts*/
.blog-bottom{
	box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.blog-bottom img{
	width: 100%;
	margin-bottom: 2rem;
}
.blog-bottom h6{
	color: #ff4d29;
	margin-bottom: 1rem;
	margin-left: 1rem;
}
.blog-bottom h2{
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}
.blog-bottom p{
	color: #666;
	word-spacing: 2px;
	padding-bottom: 2rem;
	margin-left: 1rem;
}


/*blog section ends*/

/*footer section starts*/

.footer{
	background:linear-gradient(-90deg,rgba(8, 32, 50, 0.8),rgba(8, 32, 50, 0.8)) ,url(images/bg_banner1.jpg) no-repeat center;
	background-size: cover;
	padding-top: 80px ;
	color: #fff;
	text-align: center;
}
.footer a{
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
}
.footer a span{
	color: #ff4d29;
}
.footer p{
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: #999;
}
.social {
	margin-bottom: 1.5rem;
}
.social a{
	margin: 1rem;
}
.footer-bottom {
	border-top: 1px solid #888;
}

/*footer section ends*/